In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error
import pickle

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
X=pd.DataFrame(train.loc[:, train.columns != 'SalePrice'])

In [4]:
X = pd.concat([X, test], axis=0)

In [5]:
y = pd.DataFrame(train['SalePrice'])

Data cleaning

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [7]:
X.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2918.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,472.874572,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,215.394815,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,480.000000,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,576.000000,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1488.000000,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [8]:
X.LotFrontage.isnull().sum().sum()

486

In [9]:
X['Functional']

0       Typ
1       Typ
2       Typ
3       Typ
4       Typ
       ...
1454    Typ
1455    Typ
1456    Typ
1457    Typ
1458    Typ
Name: Functional, Length: 2919, dtype: object

In [10]:
X['Functional'].isnull().sum().sum()

2

In [11]:
X['Functional'] = X['Functional'].fillna('Typ')

In [12]:
X['Electrical'].isnull().sum().sum()

1

In [13]:
X['Electrical']

0       SBrkr
1       SBrkr
2       SBrkr
3       SBrkr
4       SBrkr
        ...
1454    SBrkr
1455    SBrkr
1456    SBrkr
1457    SBrkr
1458    SBrkr
Name: Electrical, Length: 2919, dtype: object

In [14]:
X['Electrical'] = X['Electrical'].fillna('SBrkr')

In [15]:
X['KitchenQual']

0       Gd
1       TA
2       Gd
3       Gd
4       Gd
        ..
1454    TA
1455    TA
1456    TA
1457    TA
1458    TA
Name: KitchenQual, Length: 2919, dtype: object

In [16]:
X['KitchenQual'].fillna('TA', inplace=True)

In [17]:
X["Exterior1st"]

0       VinylSd
1       MetalSd
2       VinylSd
3       Wd Sdng
4       VinylSd
         ...
1454    CemntBd
1455    CemntBd
1456    VinylSd
1457    HdBoard
1458    HdBoard
Name: Exterior1st, Length: 2919, dtype: object

In [18]:
X["Exterior1st"].fillna(X['Exterior1st'].mode()[0], inplace=True)

In [19]:
X["Exterior1st"].isnull().sum().sum()

0

In [20]:
X["Exterior2nd"].isnull().sum().sum()

1

In [21]:
X["Exterior2nd"].fillna(X["Exterior2nd"].mode()[0], inplace=True)

In [22]:
X['SaleType'].fillna(X['SaleType'].mode()[0], inplace=True)

In [23]:
X['PoolQC'].fillna('No', inplace=True)

In [24]:
X['Alley'].isnull().sum().sum()

2721

In [25]:
X['Alley'].fillna('No', inplace=True)

In [26]:
X['FireplaceQu'].fillna('No', inplace=True)

In [27]:
X['Fence'].fillna('No', inplace=True)

In [28]:
X['MiscFeature'].fillna('No', inplace=True)

In [29]:
for col in ('BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2'):
    X[col]=X[col].fillna('No')

In [30]:
for col in ('GarageType', 'GarageFinish', 'GarageQual', 'GarageCond'):
    X[col]=X[col].fillna('No')

In [31]:
for col in ('GarageArea', 'GarageCars'):
    X[col]=X[col].fillna(0)

In [32]:
X.isnull().sum().sum()

706

In [33]:
X.fillna(X.median(), inplace=True)

/var/folders/6f/qftvzclj2fv91pxvhcwx_14m0000gp/T/ipykernel_85200/630050661.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  X.fillna(X.median(), inplace=True)

In [34]:
# X.fillna(X.mode(), inplace=True)

In [35]:
X['MSZoning'].fillna(X['MSZoning'].mode()[0], inplace=True)

In [36]:
X['Utilities'].fillna(X['Utilities'].mode()[0], inplace=True)

In [37]:
X['MasVnrType'].fillna(X['MasVnrType'].mode()[0],inplace=True)

In [38]:
X.isnull().sum().sum()

0

In [39]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2919 non-null   object
 3   LotFrontage    2919 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          2919 non-null   object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2919 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2919 non-null   object
 24  Exterior2nd    2919 non-null   object
 25  MasVnrType     2919 non-null   object
 26  MasVnrArea     2919 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2919 non-null   object
 31  BsmtCond       2919 non-null   object
 32  BsmtExposure   2919 non-null   object
 33  BsmtFinType1   2919 non-null   object
 34  BsmtFinSF1     2919 non-null   float64
 35  BsmtFinType2   2919 non-null   object
 36  BsmtFinSF2     2919 non-null   float64
 37  BsmtUnfSF      2919 non-null   float64
 38  TotalBsmtSF    2919 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2919 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2919 non-null   float64
 48  BsmtHalfBath   2919 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2919 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2919 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    2919 non-null   object
 58  GarageType     2919 non-null   object
 59  GarageYrBlt    2919 non-null   float64
 60  GarageFinish   2919 non-null   object
 61  GarageCars     2919 non-null   float64
 62  GarageArea     2919 non-null   float64
 63  GarageQual     2919 non-null   object
 64  GarageCond     2919 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         2919 non-null   object
 73  Fence          2919 non-null   object
 74  MiscFeature    2919 non-null   object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2919 non-null   object
 79  SaleCondition  2919 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

Feature engineering

In [40]:
X['AllSF'] = X['TotalBsmtSF'] + X['1stFlrSF'] + X['2ndFlrSF']

In [41]:
X['BackyardSF'] =  X['LotArea'] - X['1stFlrSF']

In [42]:
X['PorchSF'] = X['WoodDeckSF'] + X['OpenPorchSF'] + X['EnclosedPorch'] + X['3SsnPorch'] + X['ScreenPorch']

In [43]:
X['Total_Bathrooms'] = X['FullBath'] + X['BsmtFullBath'] + (.5*X['BsmtHalfBath']) + (.5*X['HalfBath'])

In [44]:
X['MedNhbdArea'] = X.groupby('Neighborhood')['GrLivArea'].transform('median')

In [45]:
X['IsAbuGr'] = X[['MedNhbdArea', 'GrLivArea']].apply(lambda x: 'yes' if x['GrLivArea']> x['MedNhbdArea'] else 'no', axis=1)

scaling encoding transforming

In [46]:
scale = ['MedNhbdArea', 'WoodDeckSF','BackyardSF','OpenPorchSF' ,'PorchSF', 'AllSF', '1stFlrSF','2ndFlrSF', 'BsmtFinSF1', 'BsmtFinSF2','BsmtUnfSF','GarageArea','GrLivArea','LotArea','LotFrontage','LowQualFinSF','MasVnrArea','TotalBsmtSF','PoolArea']

In [47]:
encode=list(set(X.columns)-set(scale)-set(['Id']))

In [48]:
skew_feets=X[scale].skew().sort_values(ascending=False)

In [49]:
skewness=pd.DataFrame({'Skew':skew_feets.astype('float')})

In [50]:
skewness

                   Skew
PoolArea      16.907017
BackyardSF    13.238317
LotArea       12.829025
LowQualFinSF  12.094977
BsmtFinSF2     4.148275
MasVnrArea     2.614936
OpenPorchSF    2.536417
WoodDeckSF     1.843380
LotFrontage    1.675713
AllSF          1.516515
1stFlrSF       1.470360
BsmtFinSF1     1.426111
PorchSF        1.377357
GrLivArea      1.270010
TotalBsmtSF    1.163214
MedNhbdArea    1.076649
BsmtUnfSF      0.920176
2ndFlrSF       0.862118
GarageArea     0.239380

In [51]:
skewness=skewness[(skewness.Skew>.75)]

In [52]:
indeces = list(skewness.index)

In [53]:
for x in indeces:
    X[x] = np.log1p(X[x])

In [54]:
indeces

['PoolArea',
 'BackyardSF',
 'LotArea',
 'LowQualFinSF',
 'BsmtFinSF2',
 'MasVnrArea',
 'OpenPorchSF',
 'WoodDeckSF',
 'LotFrontage',
 'AllSF',
 '1stFlrSF',
 'BsmtFinSF1',
 'PorchSF',
 'GrLivArea',
 'TotalBsmtSF',
 'MedNhbdArea',
 'BsmtUnfSF',
 '2ndFlrSF']

In [55]:
Xscale=X[scale]

In [56]:
scaler = MinMaxScaler().fit(Xscale)

In [57]:
pickle.dump(scaler, open("scaler_pickle.pickle","wb"))

In [58]:
Xscale=pd.DataFrame(scaler.transform(Xscale), columns=Xscale.columns)

In [59]:
Xencode = X[encode]

In [60]:
X=Xscale.merge(Xencode.reset_index(), left_index=True, right_index=True)

In [61]:
X=pd.DataFrame(pd.get_dummies(data=X))

In [62]:
j=X

In [63]:
length=test.shape[0]

In [64]:
X=j[:train.shape[0]]

In [65]:
test=j[train.shape[0]:test.shape[0]+(length+1)]

saying our training set is x, and our testing is training and testing data set, lenght +1 includes the very last row

In [66]:
xtrain, xtest, ytrain , ytest =train_test_split(X,y, test_size=.3, random_state=0)

In [67]:
pickle.dump(xtrain.columns, open("columnssaved.pickle","wb"))

In [68]:
ytrain=pd.DataFrame(np.log1p(ytrain.SalePrice))

In [69]:
ytrain.reset_index(inplace=True)

In [70]:
ytrain.drop(columns='index', inplace=True)

In [71]:
ytest=pd.DataFrame(np.log1p(ytest.SalePrice))

In [72]:
ytest.reset_index(inplace=True)

In [73]:
ytest.drop(columns='index', inplace=True)

In [74]:
model = Lasso(alpha=.001, random_state=0)

In [75]:
model.fit(xtrain,ytrain)

Lasso(alpha=0.001, random_state=0)

In [76]:
pickle.dump(model, open("pickle_model.pickle","wb"))

In [77]:
preds=model.predict(xtest)

In [78]:
preds=np.expm1(preds)

^^^unlogs back into regular houseprices

In [79]:
np.sqrt(mean_squared_error(np.expm1(ytest), preds))

32100.829781525917

In [80]:
y=pd.DataFrame(np.log1p(y.SalePrice))

In [81]:
y.reset_index(inplace=True)

In [82]:
y.drop(columns='index', inplace=True)

In [83]:
model.fit(X,y)

Lasso(alpha=0.001, random_state=0)

dont go past here on titanic, belowhere is actually ttesting model which will be done in scoring

In [84]:
final_preds=model.predict(test)

In [85]:
final_preds=np.expm1(final_preds)

In [86]:
new_test= pd.read_csv('test.csv')

In [87]:
submission = pd.DataFrame(new_test['Id'], columns=['Id'])

In [88]:
submission['SalePrice'] = final_preds

In [89]:
submission.to_csv('submission2.csv', index=False, header=True)